@import url("https://unpkg.com/css.gg@2.0.0/icons/css/trash.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/push-chevron-right.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/push-chevron-left.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
$picture-path: "/pictures/kanban.jpg";
$picture2-path: "../pictures/tlo.jpg";

$primary-main: #ececec;
$primary-second: #9fd3c7;
$primary-third: #385170;
$primary-fourth: #142d4c;

$primary-border: #a3a3a3;
$primary-hover: #c4c3c3;
$primary-btn-input: #f0f0f0;
$active-user: #a09f9f;
$primary-text: #0c0a0a;

.hidden {
  opacity: 0;
}

.left-side {
  background-color: $primary-fourth;
  float: left;
  min-width: 19rem;

  height: 100vh;
  border-right: 1px solid $primary-border;
  padding: 1rem 1rem 1rem 1rem;
}

.search-bar {
  display: flex;
  color: rgb(201, 192, 192);
  border-bottom: 1px solid $primary-border;
  padding: 0 0 0.25rem 0;
  gap: 0.5rem;
  height: 5vh;
  justify-content: center;
  font-size: 1.5rem;
  align-items: center;
}

.apps {
  display: flex;
  flex-direction: column;
  min-width: 11rem;
  width: 95%;
  height: 83vh;
  gap: 0.3rem;

  margin: 1rem 0 0 1rem;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  height: 6.5vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.7vw;
  color: rgb(201, 192, 192);
}
// .search-bar-input {
//   border: 1px solid $primary-border;
//   border-radius: 0.75rem;
//   min-width: 7rem;
//   width: 15vw;
//   font-size: 1rem;
//   padding-left: 0.75rem;
//   background-color: $primary-btn-input;
// }

// .btn-search-bar {
//   border: 1px solid $primary-border;
//   border-radius: 0.75rem;
//   min-width: 3rem;
//   width: 5vw;
//   cursor: pointer;
//   background-color: $primary-btn-input;
// }

.btn-apps {
  position: relative;
  width: 94%;
  min-height: 5rem;
  height: 6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 1px solid $primary-border;
  cursor: pointer;
  overflow: hidden; // Ukryj część zblurowanego obrazu, jeśli wymagane
  background-color: rgba(159, 211, 199, 0.1);
}

.btn-apps::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("#{$picture2-path}");
  background-position: top;
  background-size: cover;
  filter: blur(5px); // Dodaj efekt zblurowania tylko dla tła
}

.btn-apps span {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(201, 192, 192);
  text-align: center;
  font-size: 1.5rem;
  text-wrap: nowrap;
  font: 900;
}

.user-card {
  margin: 0 3vw;
  display: flex;
  flex-direction: row;
  width: calc(68vw - 20px);
  height: 7rem;
  border-bottom: 1px solid $primary-border;
}

.selected-user-card {
  color: rgb(201, 192, 192);
  white-space: nowrap;
  padding-left: 3rem;
  align-self: flex-start;
  font-size: 3.25rem;
}

.tasks {
  color: #818181;
  display: flex;
  position: absolute;
  top: 4rem;
  right: 15vw;
  gap: 1rem;
  // background-color: red;
  height: 2rem;
  /* Dodajmy padding-bottom */
  align-self: flex-end; /* Wyśrodkuj względem prawej strony */
}

.logout {
  position: absolute;
  right: 3rem;
  top: 2.5rem;
}

.btn-logout {
  width: 7.5rem;
  height: 2.5rem;
  border: 1px solid $primary-border;
  color: #000;
  font-size: 1.2rem;
  background-color: rgba(103, 143, 134, 0.15);
  border-radius: 1rem;
  cursor: pointer;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.login {
  width: 20rem;
  height: max-content;
  border: 1px solid $primary-border;
  border-radius: 1rem;
  background-color: $primary-main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btns {
  display: flex;
  gap: 1rem;
}

.register {
  width: 20rem;
  height: max-content;
  min-height: 27rem;
  border: 1px solid $primary-border;
  border-radius: 1rem;
  background-color: $primary-main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  padding: 0 2rem 0 0;
  color: #000;
  position: relative;
}

#message ul {
  padding: 0 0 0 2rem;
  font-size: 12px;
}

.requirement {
  color: #000;
}

.login input {
  width: 80%;
  margin: 2rem 0 0 0;
  border: 1px solid $primary-border;
  border-radius: 0.75rem;
  padding-left: 1rem;
  height: 2.5rem;
  font-size: 1rem;
}

.register input {
  width: 80%;
  margin: 2rem 0 0 0;
  border: 1px solid $primary-border;
  border-radius: 0.75rem;
  padding-left: 1rem;
  height: 2.5rem;
  font-size: 1rem;
}

.btn-login,
.btn-register {
  position: relative;
  width: 7.5rem;
  height: 2.5rem;
  border: 1px solid $primary-border;
  border-radius: 0.5rem;
  cursor: pointer;
}
.btn-login {
  margin: 2rem 0;
}
.btn-register {
  margin: 1.5rem 0;
}

.incorrect-data {
  display: flex;
  margin: 2rem 0 -0.75rem;
  font-size: 1rem;
  justify-content: center;
  color: black;
}

.kanbanTree {
  width: 100vw;
  height: 100vh;
  background-image: url("#{$picture2-path}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tasks-list-task-name {
  width: 100%;
  height: 4rem;
  background-color: rgba(159, 211, 199, 0.15);
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border: 1px solid $primary-border;
  border-radius: 8px;
}
.tasks-list-container {
  margin: 2.21rem 6rem;
}

.tasks-list-tasks {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.tasks-list-progress {
  position: relative;
  margin: 1rem;
  border: 1px solid $primary-border;
  box-sizing: border-box;
  flex: 1;
  height: 70vh;
  width: 100%; /* Take full width on smaller screens */
  max-width: none;
  background-color: rgba(29, 24, 24, 0.5);
  border-radius: 0 0 1rem 1rem;
}

.add-task {
  position: absolute;
  display: flex;
  bottom: 2rem; /* Przykładowa wartość przesunięcia */
  width: 100%;
  border-top: 1px solid $primary-border;
  margin-bottom: 1.8rem; /* Przemieszczenie .add-task o 1rem w dół */
}

.add-task-input {
  position: absolute;
  bottom: -3.2rem;
  left: 7%;
  width: 11vw;
  height: 40px;
  color: white;
  border: 1px solid $primary-border;
  border-radius: 1rem;
  background-color: rgba(103, 143, 134, 0.15);
  padding-left: 0.5rem; /* Dodane ustawienie odstępu od lewej dla tekstu wpisywanego */
}

.add-task-input::placeholder {
  color: white;
}

.btn-task-list {
  position: absolute;
  bottom: -3.2rem; /* Ustawienie wartości bottom na odległość od dołu .add-task */
  left: 65%;
  width: 6vw;
  height: 2.5rem;
  border: 1px solid $primary-border;
  color: white;
  font-size: 1.2rem;
  background-color: rgba(103, 143, 134, 0.15);
  border-radius: 1rem;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .tasks-list-tasks {
    flex-direction: column; /* Change to a column layout on smaller screens */
  }

  .tasks-list-container {
    max-width: 90%;
    margin: 3rem auto; /* Center the container on smaller screens */
  }
  .tasks-list-task-name {
    width: 72.5vw;
  }
}

// .tasks-list-tasks > div {
//   flex: 1;
//   width: 33.33%;
//   box-sizing: border-box;
// }

.tasks-list-name {
  background-color: rgba(159, 211, 199, 0.2);
  height: 3rem;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $primary-border;
}

.tasks-list-task-container {
  display: flex;
  flex-direction: column;
  height: 7rem;
}

.tasks-list-task {
  background-color: rgba(159, 211, 199, 0.2);
  display: flex;
  flex-direction: column;
  flex: 1; /* Rozciągnij tasks-list-task, aby zajmować dostępną przestrzeń */
  margin: 0.75rem 0.75rem 0 0.75rem;
  height: 4rem;
  border: 1px solid $primary-border;
  border-radius: 1rem;
  overflow: hidden; /* Ukryj overflow, aby nie rozszerzał elementu */
  justify-content: center;
  text-align: center;
  align-items: center;
}

.tasks-list-overflow {
  overflow: auto;
  max-height: 35.5rem;
}

.btn-in-task {
  box-sizing: border-box;
  // cursor: pointer;
  width: 75%;
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
}

.btn-in-task i:first-child {
  margin-right: 0.5rem; /* Lekko oddal od lewej krawędzi */
}

.btn-in-task i:last-child {
  margin-left: 0.5rem; /* Lekko oddal od prawej krawędzi */
}

.btn-none {
  background-color: rgba(159, 211, 199, 0.2);
  border: 1px solid $primary-border;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-none span {
  width: 2rem;
  justify-content: center;
}
.gg-push-chevron-right {
  position: relative;
  right: 5px;
}

.btn-previous-task {
  margin-left: 2rem;
}

.btn-next-task {
  margin-right: 2rem;
}

.btn-previous-task,
.btn-next-task {
  width: 8rem;
  height: 2rem;
  border: 1px solid $primary-border;
  border-radius: 16px;
  background-color: rgba(159, 211, 199, 0.05);
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}
