body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
$picture-path: "/pictures/kanban.jpg";

$primary-main: #ddd;
$primary-border: #a3a3a3;
$primary-hover: #c4c3c3;
$primary-btn-input: #f0f0f0;
$active-user: #a09f9f;
$primary-text: #0c0a0a;

.left-side {
  background-color: $primary-main;
  float: left;
  min-width: 10rem;
  width: 15vw;
  height: 100%;
  border-right: 1px solid $primary-border;
  padding: 1rem 2rem 1rem 1rem;
}

.search-bar {
  display: flex;
  border-bottom: 1px solid $primary-border;
  padding: 0 0 0.25rem 0;
  gap: 0.5rem;
  height: 3rem;
  justify-content: center;
  font-size: 1.5rem;
  align-items: center;
}

.search-bar-input {
  border: 1px solid $primary-border;
  border-radius: 0.75rem;
  min-width: 7rem;
  width: 15vw;
  font-size: 1rem;
  padding-left: 0.75rem;
  background-color: $primary-btn-input;
}

.btn-search-bar {
  border: 1px solid $primary-border;
  border-radius: 0.75rem;
  min-width: 3rem;
  width: 5vw;
  cursor: pointer;
  background-color: $primary-btn-input;
}

.btn-apps {
  position: relative;
  width: 94%;
  min-height: 5rem;
  height: 10vh;
  border-radius: 1rem;
  border: 1px solid $primary-border;
  cursor: pointer;
  overflow: hidden; // Ukryj część zblurowanego obrazu, jeśli wymagane
}
.btn-apps::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("#{$picture-path}");
  background-size: cover;
  filter: blur(5px); // Dodaj efekt zblurowania tylko dla tła
}

// Styl dla tekstu na środku .btn-apps
.btn-apps span {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $primary-text;
  text-align: center;
  font-size: 1.5rem;
  text-wrap: nowrap;
  font: 900;
}

.users {
  display: flex;
  flex-direction: column;
  min-width: 11rem;
  width: 15vw;
  height: 84.5vh;
  gap: 0.3rem;
  margin: 1rem 0 0 1rem;
}

.user {
  width: 80%;
  text-align: left;
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0 0 0 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.user:not(.active):hover {
  background-color: $primary-hover;
}

.active {
  background-color: $active-user;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  height: 4vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.7vw;
}

.user-card {
  margin: 0 3vw;
  display: flex;
  flex-direction: row;
  width: calc(68vw - 20px);
  height: 7rem;
  border-bottom: 1px solid $primary-border;
}

.selected-user-card {
  white-space: nowrap;
  padding-left: 3rem;
  align-self: flex-start;
  font-size: 3.25rem;
}

.tasks {
  display: flex;
  position: absolute;
  top: 4rem;
  right: 12vw;
  gap: 1rem;
  // background-color: red;
  height: 2rem;

  /* Dodajmy padding-bottom */
  align-self: flex-end; /* Wyśrodkuj względem prawej strony */
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.login {
  width: 20rem;
  height: 20rem;
  border: 1px solid $primary-border;
  border-radius: 1rem;
  background-color: $primary-main;
  display: flex;
  flex-direction: column; // Dodane, aby elementy wewnątrz były ustawione jeden pod drugim
  align-items: center; // Dod
}

.login input {
  width: 80%;
  margin: 2rem 0 0rem 0rem;
  display: flex;
  border: 1px solid $primary-border;
  border-radius: 0.75rem;
  padding-left: 1rem;
  height: 2.5rem;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
}

.login input::placeholder {
  width: 80%; // left: 0%;
}
.register {
  background-color: red;
}

.btn-login {
  margin-top: 2.5rem;
  width: 7.5rem;
  height: 2.5rem;
  border: 1px solid $primary-border;
  border-radius: 0.5rem;
  cursor: pointer;
}

.tasks-list-container {
  width: 100%;
  height: 45rem;
  margin: 3rem 6rem 3rem 6rem;
  // background-color: red;
}

.tasks-list-task-name {
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid $primary-border;
}

.tasks-list-tasks {
  display: flex;
  height: 100%;
}

// .tasks-list-tasks > div {
//   flex: 1;
//   width: 33.33%;
//   box-sizing: border-box;
// }

.tasks-list-task {
  // background-color: yellow;

  height: 6rem;
  margin: 3px;
  border: 1px solid $primary-border;
}

.tasks-list-progress {
  margin: 1rem;
  border: 1px solid $primary-border;
  flex: 1;
  width: 33%;
  box-sizing: border-box;
}
