$text-color-login: rgb(230, 230, 230);

$primary-main: #ececec;
$primary-second: #9fd3c7;
$primary-third: #385170;
$primary-fourth: #142d4c;

$primary-border: #a3a3a3;
$primary-hover: #c4c3c3;
$primary-btn-input: #f0f0f0;
$active-user: #a09f9f;
$primary-text: #0c0a0a;

$picture-tlo: "../../pictures/tlo.png";
$picture-profil: "../../pictures/profil.png";
$picture-logo: "../../pictures/logo.png";
$picture-tasks: "../../pictures/tasks.png";
$picture-active-task: "../../pictures/activeTask.png";
$picture-options: "../../pictures/options.png";
$picture-logout: "../../pictures/logout.png";
