@import url("https://unpkg.com/css.gg@2.0.0/icons/css/trash.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/push-chevron-right.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/push-chevron-left.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/math-plus.css");

@import "./../shared/styles.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hidden {
  opacity: 0;
}

.tasks {
  color: #818181;
  display: flex;
  position: absolute;
  top: 4rem;
  right: 15vw;
  gap: 1rem;

  height: 2rem;

  align-self: flex-end;
}

.tasks-list-tasks {
  display: flex;
  flex-wrap: wrap;
}

.tasks-list-progress {
  position: relative;
  margin: 1rem;
  border: 1px solid $primary-border;
  box-sizing: border-box;
  flex: 1;
  height: 70vh;
  width: 100%;
  max-width: none;
  background-color: rgba(29, 24, 24, 0.5);
  border-radius: 0 0 1rem 1rem;
}

.add-task {
  position: absolute;
  display: flex;
  bottom: 2rem;
  width: 100%;
  border-top: 1px solid $primary-border;
  margin-bottom: 1.8rem;
}

.add-task-input {
  position: absolute;
  bottom: -3.2rem;
  left: 7%;
  width: 14vw;
  height: 40px;
  color: white;
  border: 1px solid $primary-border;
  border-radius: 1rem;
  background-color: rgba(103, 143, 134, 0.15);
  padding-left: 0.5rem;
}

.add-task-input::placeholder {
  color: white;
}

.btn-task-list {
  position: absolute;
  bottom: -3.2rem;
  left: 80%;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid $primary-border;
  color: white;
  font-size: 1.2rem;
  background-color: rgba(103, 143, 134, 0.15);
  border-radius: 50%;
  cursor: pointer;
}

.gg-math-plus {
  position: relative;
  left: 0.3rem;
}

@media (max-width: 1200px) {
  .tasks-list-tasks {
    flex-direction: column;
  }

  .tasks-list-container {
    max-width: 90%;
    margin: 3rem auto;
  }
  .tasks-list-task-name {
    width: 72.5vw;
  }
}

.tasks-list-name {
  background-color: rgba(159, 211, 199, 0.2);
  height: 3rem;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $primary-border;
}

.tasks-list-task-container {
  display: flex;
  flex-direction: column;
  height: 7rem;
}

.tasks-list-task {
  background-color: rgba(159, 211, 199, 0.2);
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0.75rem 0.75rem 0 0.75rem;
  height: 4rem;
  border: 1px solid $primary-border;
  border-radius: 1rem;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.tasks-list-overflow {
  overflow: auto;
  max-height: 35.5rem;
}

.btn-in-task {
  box-sizing: border-box;

  width: 75%;
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
}

.btn-in-task i:first-child {
  margin-right: 0.5rem;
}

.btn-in-task i:last-child {
  margin-left: 0.5rem;
}

.btn-none {
  background-color: rgba(159, 211, 199, 0.2);
  border: 1px solid $primary-border;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-none span {
  width: 2rem;
  justify-content: center;
}
.gg-push-chevron-right {
  position: relative;
  right: 6px;
}

.btn-previous-next-task {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  width: 8rem;
  height: 2rem;
  border: 1px solid $primary-border;
  border-radius: 16px;
  background-color: rgba(159, 211, 199, 0.05);
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

.tasks-list-container {
  margin: 2.21rem 6rem;
}

.tasks-list-task-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: rgba(159, 211, 199, 0.15);
  font-size: 4rem;
  border: 1px solid $primary-border;
  border-radius: 16px;
}

.tasks-list-task-name button {
  position: relative;
}

.add-main-task {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  gap: 2rem;
}

.add-main-task-input {
  width: 14vw;
  height: 40px;
  color: #000;
  border: 1px solid $primary-border;
  border-radius: 1rem;
  background-color: rgba(103, 143, 134, 0.15);
  padding-left: 0.5rem;
}

.add-main-task-input::placeholder {
  color: #000;
}

.btn-main-task-add {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid $primary-border;
  color: #000;
  font-size: 1.2rem;
  background-color: rgba(103, 143, 134, 0.15);
  border-radius: 50%;
  cursor: pointer;
}

.previous-next-buttons {
  display: flex;
  gap: 2rem;
}
