@import "./reusable.scss";
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left.css");

.hidden {
  opacity: 0;
}

.tasks-list-container {
  color: $text-color-primary;
}
.tasks-lists-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10vw;
}
.btn-tasks-list {
  margin: 1.25rem 0 0 1rem;
  height: 4rem;
  width: 5rem;
  font-size: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tasks-list-task-name {
  margin: 0.5rem auto 0 auto;
  font-size: 3rem;
  position: relative;
  font-weight: 500;
}

.tasks-list-task-name::after {
  content: "";
  position: absolute;
  left: -2.75rem;
  display: flex;
  justify-content: center;
  width: calc(100% + 100px);
  height: 1px;
  background-color: $text-color-primary;
}

.tasks-lists-bottom {
  height: calc(100vh - 40vh);
  display: flex;
  margin: 2rem 2rem 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
}

.tasks-lists-bottom::-webkit-scrollbar {
  width: 6px;
}

.tasks-lists-bottom::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 6px;
}

.single-task {
  margin: 2vh 1vw;
  width: 24rem;
  height: max-content;
  max-height: 52.5vh;
  background-color: #080808;
  border-radius: 0.35rem;
  overflow-y: auto;
}

.single-task::-webkit-scrollbar {
  width: 6px;
}

.single-task::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 6px;
}

.single-task::-webkit-scrollbar-track {
  margin-top: 3.7rem;
}

.single-task-header {
  height: max-content;
  position: sticky;
  top: 0;
  background-color: #080808;
  z-index: 1;
  padding: 0.25rem;
}

.single-task-info {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.btn-add-single-task {
  background: none;
  border: none;
  font-size: 1.75rem;
  color: $text-color-primary;
  margin-right: 1.25rem;
  cursor: pointer;
}

.single-task-info h3 {
  margin-left: 2rem;
  font-size: 1.25rem;
}

.task {
  margin: 0rem 1.25rem 1rem 1.25rem;
  height: 6rem;
  border-radius: 0.25rem;
  display: flex;
}

.task-left {
  margin: 0.75rem 0 0 1.25rem;
  font-weight: 400;
  width: 15rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.task-right {
  height: 100%;
  min-width: 5rem;
  width: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.btn-delete-single-task {
  color: $text-color-primary;
  float: right;
  background: none;
  border: none;
  font-size: 1.75rem;
  margin: 0.25rem 0.5rem 0 0;
  cursor: pointer;
}

.task-right-move {
  position: relative;
  left: 0.5rem;
  display: flex;
  gap: 1.5rem;
}

.btn-move-task {
  color: $text-color-primary;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.add-task-container {
  background-image: url("#{$picture-tlo}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vw;
  min-height: 7rem;
}
