@import "./../shared/styles.scss";

.left-side {
  width: 6vw;
  min-width: 6rem;
  background-color: #111010;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-logo {
  height: 5rem;
  background-image: url("#{$picture-logo}");
  display: flex;
  margin: 1rem 0.5rem 0rem 0.4rem;
  width: 85%;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-tasks {
  height: 2.75rem;
  background-image: url("#{$picture-tasks}");
}

.image-active-task {
  height: 2.25rem;
  background-image: url("#{$picture-active-task}");
}

.image-options {
  height: 2.75rem;
  background-image: url("#{$picture-options}");
}

.image-tasks,
.image-active-task,
.image-options {
  display: flex;
  margin: 7vh 0 0rem 0rem;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-color 1s ease;
}

.image-logout {
  cursor: pointer;
  height: 2.25rem;
  margin-bottom: 2.5vh;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("#{$picture-logout}");
}
